{% extends "base.html" %}
{% block content %}
    <style media="screen">
      .half {
        width: 50%;
        float: left;
        min-height: 300px;
      }
    </style>

    <div style="width: 500px;">
      <div class="half">
        <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BYzgyYzc4Y2QtNDcyZS00NDdmLWI5ZTYtMTQ2YWU5MWFhOTE4XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX182_CR0,0,182,268_AL_.jpg"
    />
      </div>
      <div class="half">
        <table>
          <tr>
            <td>
              Film:
            </td>
            <td>
              Monty Python and the Holy Grail (1975)
            </td>
          </tr>
          <tr>
            <td>
              Rating:
            </td>
            <td>
              8.3
            </td>
          </tr>
          <tr>
            <td>
              Directors:
            </td>
            <td>
               Terry Gilliam, Terry Jones
            </td>
          </tr>
          <tr>
            <td>
              Writers:
            </td>
            <td>
               Graham Chapman, John Cleese
            </td>
          </tr>
          <tr>
            <td>
              Stars:
            </td>
            <td>
               Graham Chapman, John Cleese, Eric Idle
            </td>
          </tr>
        </table>
      </div>
      <br/>
    </div>
    <div style="width: 500px;">
      <div class="half">
        <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjA4NjE1MjM2Ml5BMl5BanBnXkFtZTgwODgzMjM5MzE@._V1_UY268_CR0,0,182,268_AL_.jpg"
    />
      </div>
      <div class="half">
        <table>
          <tr>
            <td>
              Film:
            </td>
            <td>
              The Wizard of Oz (1939)
            </td>
          </tr>
          <tr>
            <td>
              Rating:
            </td>
            <td>
              8.1
            </td>
          </tr>
          <tr>
            <td>
              Directors:
            </td>
            <td>
               Victor Fleming, Mervyn LeRoy, George Cukor, Norman Taurog, King Vidor
            </td>
          </tr>
          <tr>
            <td>
              Writer:
            </td>
            <td>
                Noel Langley (screenplay), Florence Ryerson (screenplay)
            </td>
          </tr>
          <tr>
            <td>
              Stars:
            </td>
            <td>
              Judy Garland, Frank Morgan, Ray Bolger
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div style="width: 500px;">
      <div class="half">
        <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjAwNTQ3ODUyMl5BMl5BanBnXkFtZTgwNDg5ODQyNjE@._V1_UY268_CR1,0,182,268_AL_.jpg"/>
      </div>
      <div class="half">
        <table>
          <tr>
            <td>
              Film:
            </td>
            <td>
              Yojimbo (1961)
            </td>
          </tr>
          <tr>
            <td>
              Rating:
            </td>
            <td>
              8.3
            </td>
          </tr>
          <tr>
            <td>
              Director:
            </td>
            <td>
               Akira Kurosawa
            </td>
          </tr>
          <tr>
            <td>
              Writer:
            </td>
            <td>
               Akira Kurosawa
            </td>
          </tr>
          <tr>
            <td>
              Stars:
            </td>
            <td>
               Toshirô Mifune, Eijirô Tôno, Tatsuya Nakadai
            </td>
          </tr>
        </table>
      </div>
    </div>
{% endblock %}
