{% from "helpers/_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Messenger{% endblock %}
{% block content %}
<section id="movie-index" class="grey-section">
    <div class="container">
        <h1>LightMDb Privacy Notice</h1>
         This privacy policy sets out how LightMDb uses and protects any information that you give LightMDb when you use this website.
        LightMDb may change this policy from time to time by updating this page. This policy is effective from 18.12.2016
        <br>
        <b>What information do we collect?</b>
        <br>
        <br>
        We collect information from you when you register on our site or fill out a form. When filling out a form or registering on our site you may be ask to enter your name, e-mail address or phone number.
        <br>
        <br>
        <b>What do we use your information for?</b>
        <br>
        <i class="fa fa-circle"></i> Internal record keeping
        <br>
        <i class="fa fa-circle"></i> To improve our website
        <br>
        <i class="fa fa-circle"></i> To send periodic e-mails
        <br>
        <br>
        <b>How do we protect your information?</b>
        <br>
        We implement a variety of security measures to maintain the safety of your personal information.
        <br>
        <br>
        <b>Do we use cookies?</b>
        <br>
        We use cookies for authentication.
        <br>
        <br>
        <b>Do we disclose any information to outside parties?</b>
        <br>
        We do not sell, trade or otherwise transfer to outside parties your personal information.

    </div>

</section>
{% endblock %}
