{% from "helpers/_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Privacy Notice{% endblock %}
{% block content %}
<section id="privacy-index" class="grey-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">LightMDB Privacy Notice</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 privacy-text">
        December 19, 2016.<br/>
        <br/>
        Your privacy is an important factor that LightMDB (that's us) considers in the development of each of our products and services.
        We are committed to being transparent and open. This LightMDB Privacy Policy explains generally how we receive information about you,
        and what we do with that information once we have it.<br/>
        <br/>
        <b>What do we mean by "personal information?"</b><br/>
        For us, "personal information" means information which identifies you, like your name or email address.<br/>
        <br/>
        Any information that falls outside of this is "non-personal information."<br/>
        <br/>
        If we store your personal information with information that is non-personal,
        we will consider the combination as personal information.
        If we remove all personal information from a set of data then the remaining is non-personal information.<br/>
        <br/>
        <b>How do we learn information about you?</b><br/>
        <ul>
          <li>You give it to us directly (e.g., when you register);</li>
          <li>Our services collect information automatically (e.g., when you browse our website, system automatically records ip address);</li>
          <li>Crash reports automatically saves some base information about you like browser model and Operating System;</li>
        </ul>
        <br/>
        <b>What do we do with your information once we have it?</b><br/>
        When you give us information, we will use it in the ways for which you've given us permission.
        Generally, we use your information to help us provide and improve our products and services for you.<br/>
        We never share information with others and we don't use any third party tool that can record your activity.<br/>
        <br/>
        If you are under 13, we don't want your personal information, and you must not provide it to us.
        If you are a parent and believe that your child who is under 13 has provided us with personal information,
        please contact us to have your child's information removed.<br/>
        <br/>
        <b>What if we change this privacy policy?</b><br/>
        We may need to change this policy and our notices. The updates will be posted online.
        Your continued use of the product or service after the effective date of such changes constitutes your acceptance of such changes.
        To make your review more convenient, we will post an effective date at the top of the page.<br/>
        <br/>
        <b>What about cookies?</b><br/>
        We store cookies for login information (session) and csrf-token for security.
        Also cookies can be used for language information in future.<br/>
        <br/>
        <b>Our website content</b><br/>
        We currently use IMDB for movie and cast information due to resource limitation.<br/>
        Until this problem is solved LightMDB will stay as non-commercial.<br/>
      </div>
      <div class="col-md-12 privacy-text">
        <b>Licences we use:</b>
        <ul>
          <li>Our website's source code is licensed under GPLv3 License</li>
          <li>Python: Python Software Foundation (PSF) License</li>
          <li>Flask: BSD License</li>
          <li>Flask-Script: BSD License</li>
          <li>psycopg2: LGPL License</li>
          <li>Flask-WTF: BSD License</li>
          <li>flask-login: MIT License</li>
          <li>blinker: MIT License</li>
          <li>Flask-Gravatar: BSD License</li>
          <li>beautifulsoup4: MIT License</li>
          <li>jQuery: (c) jQuery Foundation. Apache v2.0 License</li>
          <li>Bootstrap: Copyright 2011-2016 Twitter, Inc. MIT License</li>
          <li>Font Awesome: MIT/SIL OFL 1.1 License</li>
          <li>Themplate Base: MIT License</li>
          <li>Moment.js: MIT License</li>
          <li>Images: CC0 Public Domain (pixabay.com)</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
