{% from "helpers/_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Messenger{% endblock %}
{% block content %}
<section id="movie-index" class="grey-section">
  <div class="container">
    {%  set pk = 0 %}
    <div class="container border">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-user">
                        </span>
                        <b>
                            People
                        </b>
                    </div>
                    <div class="list-group">
                        {% for user in user_list %}
                                <a href="{{ url_for('messenger.get_messages', pk=user.pk) }}" class="list-group-item">
                                    {{ user }}
                                </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment">
                        </span>
                        Chat with
                        <b>
                            {{ receiver.name }}
                            {% set pk = receiver.pk  %}
                        </b>
                    </div>
                    <div class="panel-default">
                        <div class="panel-body">
                            <ul class="chat">
                                {% for message in messages %}
                                {% if current_user.pk|int() != message.sender_pk|int() %}
                                    <li class="left clearfix">
                                        <span class="chat-img pull-left">
                                            <img src="{{ receiver.email | gravatar }}" class="img-circle" alt="username" width="50" height="50">
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">
                                                    {{ receiver.name }}
                                                </strong>
                                                <small class="pull-right text-muted">
                                                    <span class="glyphicon glyphicon-time">
                                                    </span>
                                                    {{ message.time_stamp }}
                                                </small>
                                            </div>
                                            <p>
                                                {{ message.message }}
                                            </p>
                                        </div>
                                    </li>
                                {% else %}
                                    <li class="right clearfix">
                                        <span class="chat-img pull-right">
                                            <img src="{{ current_user.email | gravatar }}" class="img-circle" alt="username" width="50" height="50">
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <small class=" text-muted">
                                                     <a href="{{ url_for('messenger.update_message', message_pk=message.pk, pk=receiver.pk) }}">
                                                         <i>update</i>
                                                     </a>
                                                    &nbsp;|&nbsp;
                                                     <a href="{{ url_for('messenger.delete_message', message_pk=message.pk, pk=receiver.pk) }}">
                                                         <i>delete</i>
                                                     </a>
                                                    &nbsp;|&nbsp;
                                                    <span class="glyphicon glyphicon-time">
                                                    </span>
                                                    {{ message.time_stamp }}
                                                </small>
                                                <strong class="pull-right primary-font">
                                                    {{ current_user.name }}
                                                </strong>
                                            </div>
                                            <p>
                                                {{ message.message }}
                                            </p>
                                        </div>
                                    </li>

                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% if update_message is none %}
                            <form method='post' action="/messenger/sendmessage/{{ pk }}/">
                        {% else %}
                            <form method='post' action="/messenger/updatedmessage/{{ pk }}/{{ message_pk }}/">
                        {% endif %}
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <div class="panel-footer">
                                    <div class="input-group">
                                        {% if update_message is none %}
                                            <input id="btn-input" name="message" type="text" class="form-control input-sm" placeholder="Type your message here..."/>
                                            <span class="input-group-btn">
                                                <button href="{{ url_for('messenger.send_message', pk = pk) }}" class="btn btn-info btn-sm" id="btn-chat">
                                                    Send
                                                </button>
                                            </span>
                                        {% else %}
                                            <input id="btn-input" name="message" type="text" class="form-control input-sm" placeholder="Type your message here..." value="{{ update_message.message }}"/>
                                            <span class="input-group-btn">
                                                <button href="{{ url_for('messenger.updated_message', pk = pk, message_pk = update_message.pk) }}" class="btn btn-info btn-sm" id="btn-chat">
                                                    Update
                                                </button>
                                            </span>
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/messenger.css') }}"/>
{% endblock %}
