{% extends "base.html" %}
{% block title %}Contact Us Admin{% endblock %}
{% block content %}
<section id="movie-index" class="grey-section">
  <div class="container">
    <div class ='row' >
    <div class = 'col-lg-4'></div>
    <div class = 'col-lg-4'><h2 class="center-block text-center">SENT QUESTIONS</h2> </div>
    <div class = 'col-lg-4'></div>
  <div class="row extra-pt5">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-center">
    <form method="post" action="{{ url_for('contactus.contact_admin') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <div class="row">
        <div class="col-md-12 center-block">
            <p>Choose types</p>
            <label>
                <input name="new" type="checkbox"  {% if 'new' in  post or notpost %} checked {% endif %}/>
                New
            </label>
            <label>
                <input name="replied" type="checkbox" {% if 'replied' in  post %} checked {% endif %} />
                Replied
            </label>
            <label>
                <input name="waiting" type="checkbox"  {% if 'waiting' in  post %} checked {% endif %} />
                Waiting
            </label>
            <label>
                <input name="spam" type="checkbox"  {% if 'spam' in  post %} checked {% endif %} />
                Spam
            </label>
            <label>
                <input name="closed" type="checkbox"  {% if 'closed' in  post %} checked {% endif %} />
                Closed
            </label>
            <button name="show" value="show" class="btn btn-success btn-xs"><i class="fa fa-search"></i>Show</button>
        </div>
    </div>
        <table class="table table-bordered table-responsive">
            <thead>
           <tr>
                {% for col in thead %}
                    {% if col==thead[1] %}
                        <td style="min-width: 300px"> {{ col }} </td>
                    {% else %}
                        <td> {{ col }} </td>
                    {% endif %}
                {% endfor %}
           </tr>
      </thead>
            <tbody>
            {% for row in table %}
               <tr id="{{ row[0] }}">
                    {% for col in row %}
                        {% if col==row[0] %}
                        {% else %}
                            <td> {{ col }} </td>
                        {% endif %}
                    {% endfor %}
                    <td  >
                            <button class="form-control btn btn-info btn-xs " name="showComments" value="{{ row[0] }}" ><i class="fa fa-list"></i>Show</button>
                            <button class="form-control btn btn-primary btn-xs" type="button" onclick="openCommentBar({{ row[0] }},{{ row[0] }},false)" ><i class="fa fa-plus-circle"></i>Add</button>

                    </td>
                    <td><button class="form-control btn btn-danger btn-xs" name="delete" value="{{ row[0] }}"><i class="fa fa-eraser"></i>Delete</button></td>
               </tr>
                {% if row[0]==pk_contact %}
                    <tr id="comments">
                    <td colspan="8">
                        <button type="button" class="btn btn-danger btn-xs pull-right" onclick="closeComments()">Close Comment Box</button>
                        {% if len!=0 %}
                        <table class="table table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th style="min-width: 500px">Comment</th>
                                    <th>Mail Sent</th>
                                    <th>Time</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            {% for comment_row in comments %}
                            <tr id="col{{ comment_row[0] }}">
                                <td>{{ comment_row[1] }}</td>
                                <td>{{ comment_row[2] }}</td>
                                <td>{{ comment_row[3] }}</td>
                                <td><button class="form-control btn btn-primary btn-xs" type="button" onclick="openCommentBar({{ row[0] }},'col{{ comment_row[0] }}',{{ comment_row[0] }})"><i class="fa fa-neuter"></i>Update</button></td>
                                <td><button class="form-control btn btn-danger btn-xs" name="deletecomment" value="{{ row[0] }}"><i class="fa fa-eraser"></i>Delete</button></td>

                            </tr>
                            {% endfor %}
                        </table>
                            {% else %}
                            <p class="error-text"> No Comment </p>
                        {% endif %}
                    </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </div>
    </form>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
</div>
</section>
    <script>
    function openCommentBar(pk_contact,place,update) {
        closeCommentBar();

        var html='<tr id="new_comment"><td colspan="8">' +
                                    '<select  class="form-control" name="status">'+
                                        '<option value="replied">Replied</option>'+
                                        '<option value="waiting">Waiting</option>'+
                                        '<option value="spam">Spam</option>'+
                                        '<option value="closed">Closed</option>'+
                                    '</select>' +
                                    '<textarea class="form-control" cols="50" id="content" name="comment" placeholder="Comment" rows="4" type="textarea"></textarea>' +
                                    '<div class="checkbox">' +
                                        '<label><input  type="checkbox" name="sendMail" >Is Comment sent to user?</label>' +
                                    '</div>';
        if(update){
             html+='<input type="hidden" name="commentUpdate" value="'+update+'">';
        }
        html+= '<button class="btn btn-success btn-xs" name="update" value="'+pk_contact+'">Save</button>' ;

        html+='<button type="button" class="btn btn-danger btn-xs pull-right" onclick="closeCommentBar()">Close Comment Adder</button>' +
                                '</td></tr>';

        $('#'+place).after(html)
    }
    function closeCommentBar() {
        $('#new_comment').remove();
    }
    function closeComments() {
        $('#comments').remove();
    }
    </script>
{% endblock %}
