{% from "helpers/_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Thanks for Feedback{% endblock %}
{% block content %}
<section id="movie-index" class="grey-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 center-block text-center">
        <h2>
          Thanks for your Feedback.
        </h2>
      </div>
      <div class="col-md-12 center-block text-center">
        <h3>
          We will response as soon as possible.
        </h3>
      </div>
    </div>
  </div>
</section>
{% endblock %}
